* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-size: max(1350px, 100vw);
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
}

.main .logo img {
    width: 120px;
}

.main .box {
    height: 100%;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0px 0px 0px;
    position: relative;
    z-index: 10;
}

nav .btn {
    padding: 3px 7px;
    border-radius: 4px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.btn-signin {
    background-color: red;
    border: none;
}

.btn-eng {
    background: transparent;
    border: 2px solid white;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    margin-top: 8rem;
    height: 100%;
    padding-inline: 20px;
}

.content h1 {
    font-size: 50px;
}

.content p {
    font-size: 25px;
    margin-top: 15px;
}

.content button {
    margin-top: 30px;
    margin-left: 5px;
    padding: 15px 30px;
    border-radius: 4px;
    color: white;
    font-weight: 800;
    background-color: red;
    border: none;
    cursor: pointer;
}

.content input {
    margin-top: 20px;
    background: transparent;
    border: 2px solid white;
    padding: 15px 40px 15px 8px;
    color: white;
    font-weight: 500;
    background-color: rgba(23, 23, 23, 0.2);
}

.bottom-line {
    width: 100%;
    background-color: rgb(70, 70, 70);
    padding: 3px;
    position: absolute;
    bottom: 0;
}


.first {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
    width: 100%;
    padding: 30px;
    margin-top: 10px;
    position: relative;
}

.first h2 {
    font-size: 45px;
}

.first p {
    font-size: 20px;
    margin-top: 15px;
}

.secitem {
    width: 50vw;
}

.secimg {
    position: relative;
}

.secimg img {
    width: 30vw;
    position: relative;
    z-index: 1;
}

.secimg video {
    width: 25vw;
    position: absolute;
    top: 0;
    bottom: 5%;
    left: 13%;
    right: 0;
    align-self: center;
}

.first.bottom-line {
    width: 100%;
    background-color: rgb(70, 70, 70);
    padding: 3px;
    position: absolute;
    bottom: 0;
}

#sec3-video {
    width: 20vw;
    position: absolute;
    top: 0;
    bottom: 32%;
    left: 16%;
    right: 0;
    align-self: center;
}

.faq {
    color: white;
    text-align: center;
    position: relative;
    padding-block: 30px;
}

.faq h1 {
    font-size: 60px;
    font-weight: bolder;
    margin-top: 40px;
}

.faq>p {
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
}

.faq-list {
    width: 70vw;
    margin: auto;
    margin-top: 40px;
}

.faq-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(61, 60, 60);
    margin-top: 10px;
    padding: 30px 50px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.faq-item:hover {
    background-color: rgb(93, 90, 90);
}

.faq button {
    margin-top: 20px;
    margin-left: 5px;
    padding: 15px 30px;
    border-radius: 4px;
    color: white;
    font-weight: 800;
    background-color: red;
    border: none;
    cursor: pointer;
}

.faq input {
    margin-top: 20px;
    background: transparent;
    border: 2px solid white;
    padding: 15px 40px 15px 8px;
    color: white;
    font-weight: 500;
    background-color: rgba(23, 23, 23, 0.2);
}

.faq.bottom-line {
    width: 100%;
    background-color: rgb(70, 70, 70);
    padding: 3px;
    position: absolute;
    bottom: 0;
}

footer {
    height: 30vh;
    color: white;

}

footer p {
    font-size: 20px;
    margin-top: 50px;
    margin-left: 80px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 70vw;
    margin: auto;
    padding-block: 30px;
    margin-top: 30px;
}

.foot-link {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 10px;
}

.foot-link a {
    color: white;
}

@media screen and (max-width:850px) {
    .content h1 {
        font-size: 30px;
    }

    .main {
        height: 70vh;
    }

    .main .logo img {
        width: 90px;
    }

    nav .btn {
        padding: 2px 5px;
    }

    .content {
        margin-top: 5rem;
        padding-inline: 15px;
    }

    .content p {
        font-size: 15px;
        margin-top: 10px;
    }

    .content button {
        margin-top: 20px;
        margin-left: 3px;
        padding: 10px 20px;
        font-weight: 500;

    }

    .content input {
        margin-top: 10px;
        padding: 10px 20px 10px 5px;
        font-weight: 300;
    }

    .first {
        padding: 20px;
        margin-top: 5px;
    }

    .first h2 {
        font-size: 30px;
    }

    .first p {
        font-size: 12px;
        margin-top: 10px;
    }


    .faq {
        padding-block: 20px;
    }

    .faq h1 {
        font-size: 30px;
        margin-top: 20px;
    }

    .faq>p {
        font-size: 15px;
        font-weight: 500;
        margin-top: 20px;
    }

    .faq-list {
        margin-top: 20px;
    }

    .faq-item {
        margin-top: 10px;
        padding: 20px 30px;
        font-size: 20px;

    }

    .faq button {
        margin-top: 15px;
        margin-left: 5px;
        padding: 10px 15px;
        font-weight: 500;
    }

    .faq input {
        margin-top: 15px;
        padding: 10px 15px 8px 3px;
        font-weight: 300;
    }


    footer p {
        font-size: 15px;
        margin-top: 30px;
        margin-left: 40px;
    }

    .footer-grid {
        grid-template-columns: 1fr 1fr;
        padding-block: 20px;
        margin-top: 20px;
    }

    .foot-link {
        gap: 7px;
    }
}